<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
Bienvenidos :D

<button onclick="cal.sumar(2,3)"type="button" name="button">ejecutar</button>

<script type="text/javascript">
  var cal=new LogicaCalculadora();
</script>
